name: Haxium-Login

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        haxe-version: ['4.1.5', '4.2.5', 'nightly']
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Set Git Auto CRLF to false on Windows
      if: matrix.platform == 'windows-latest'
      run: git config --global core.autocrlf false
    - name: Checkout Haxeium sources
      uses: actions/checkout@v1
    - name: Use Node.js 16
      uses: actions/setup-node@v1
      with:
        node-version: 16
    - name: Run npm install
      run: npm ci
    - name: Install Haxe version ${{ matrix.haxe-version }}
      run: |
        npx lix download haxe ${{ matrix.haxe-version }}
        npx lix use haxe ${{ matrix.haxe-version }}
    - name: Run lix download
      run: npx lix download
    - name: Print versions
      run: |
        npx haxe -version
        npx neko -version
        npx haxelib list
    - name: Build Login App (C++)
      run: |
        cd samples/haxeui/login
        npx lix download
        npx lix download haxe ${{ matrix.haxe-version }}
        npx lix use haxe ${{ matrix.haxe-version }}
        npx lix install haxelib:lime-samples
        echo "y" | npx haxelib run lime setup
        npx lime build linux
     - name: Build Login App (HTML5)
      run: |
        cd samples/haxeui/login
        npx lime build html5
    - name: Build Login tests
      run: |
        cd samples/haxeui/login
        npx haxe build.hxml
    # - name: Run Login tests
    #   run: |
    #     cd samples/haxeui/login
    #     bin/TestMain
